<div [class]="errorClass" *ngIf="notificationType == 'error'">
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{message}}
    </div>
</div>
<div [class]="errorClass" *ngIf="notificationType == 'warn'">
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Atención:</span>
        {{message}}
    </div>
</div>
<div [class]="errorClass" *ngIf="notificationType == 'info'">
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
        {{message}}
    </div>
</div>
<div [class]="errorClass" *ngIf="notificationType == 'success'">
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <span class="sr-only">Correcto:</span>
        {{message}}
    </div>
</div>